<yandex>
    <logger>
        <level>trace</level>
        <console>1</console>
    </logger>
    <path>/var/lib/clickhouse/</path>
    <tmp_path>/var/lib/clickhouse/tmp/</tmp_path>
    <user_files_path>/etc/clickhouse-server/users.d/</user_files_path>
    <config_files_path>/etc/clickhouse-server/config.d/</config_files_path>
    <default_database>default</default_database>
    <listen_host>::</listen_host>
    <http_port>8123</http_port>
    <tcp_port>9000</tcp_port>
    </yandex>