# otel-collector.service.j2 - OpenTelemetry systemd service template
[Unit]
Description=OpenTelemetry Collector
After=network.target

[Service]
ExecStart=/usr/bin/otelcol-contrib --config={{ otel_config_dir }}/config.yaml
Restart=always
RestartSec=5
User={{ otel_user }}
Group={{ otel_group }}
# CPUQuota=50%
# MemoryLimit=1G

[Install]
WantedBy=multi-user.target